project:
  type: website
  output-dir: docs

website:
  title: "Clark Xu"
  favicon: images/loopy.jpeg
  navbar:
    background: primary
    search: true
    left:
      - href: index.qmd
        text: " "
        icon: house-door-fill
      - courses.qmd
      - sidebar:projects

  sidebar:
    - id: projects
      title: "Projects"
      style: "docked"
      background: light
      collapse-level: 2
      contents:
        - projects/project1.qmd
        - projects/project2.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



